* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f6ff;
}

/* HEADER */
.header {
  background: #2563eb;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-size: 25px;
}
.nav a:hover {
  text-decoration: underline;
}
.cta-btn {
  background: white;
  color: #2563eb;
  padding: 20px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}
.cta-btn:hover {
  background: #c7ccde;
}
/* CONTACT SECTION */
.contact-section {
  padding: 50px 20px;
  text-align: center;
}

.contact-section h1 {
  color: #2563eb;
  margin-bottom: 10px;
}

.contact-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

/* CONTACT INFO */
.contact-info {
  background: white;
  padding: 25px;
  height: 600px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
  border: 2px solid #2563eb;
  margin-right: 20px;
}

.contact-info h3 {
  margin-bottom: 15px;
  color: #2563eb;
  font-size: 30px;
 
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 20px; ;
}

/* CONTACT FORM */
.contact-form {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 2px solid #2563eb;
}

.contact-form h3 {
  margin-bottom: 15px;
  color: #2563eb;
  font-size: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form button {
  width: 100%;
  padding: 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.contact-form button:hover {
  background: #1e40af;
}

/* FOOTER */
.footer {
  background: #1e40af;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }
}
