* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: #2563eb;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-size: 25px;
}
.nav a:hover {
  text-decoration: underline;
}
.cta-btn {
  background: white;
  color: #2563eb;
  padding: 20px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.cta-btn:hover {
  background: #e0e7ff;
}

/* PAGE TITLE */
.page-title {
  text-align: center;
  padding: 40px 20px;
  background: #f2f6ff;
}

.page-title h1 {
  color: #2563eb;
  font-size: 32px;
  margin-bottom: 8px;
}

/* HOSPITAL GRID */
.hospitals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
}

/* HOSPITAL CARD */
.hospital-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hospital-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}

.hospital-card h3 {
  color: #2563eb;
  margin-bottom: 8px;
}

.hospital-card p {
  margin: 4px 0;
  color: #333;
}

.hospital-card button {
  margin-top: 10px;
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hospital-card button:hover {
  background: #1e40af;
}

/* FOOTER */
.footer {
  background: #1e40af;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hospitals-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .hospitals-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
